.card img{
    height: 16vh;
    width: 7vw;
    margin-bottom: 0;
}
.card{
    width: 9vw;
    height: 24vh;
    cursor: pointer;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

}
.card:hover{
    border: 2px solid brown;
    transition: 0.2s;
}
.card p{
    margin-bottom: 0;
    text-align: center;
}
@media  (max-width: 768px) {
    .card{
        width: 23vw;
        height: 20vh;
        font-size: 15px;
    }
    .card img{
        width: 80%;
        margin-top: 1vh;
    }
    }